When analyzing charter vs. district school, there was a significant gap between the overall passing scores for charter schools in comparison for district schools. Further tests to run on comparing district schools to charter schools would be analyzing if there was a specific school or schools which are an outlier that was pulling the average of district schools below those of character schools. 
There was not a significant range, again further statistical analysis could demonstrate the exact significance, between spending values per student. With the maximum being, $655 for a district school (Huang High school) and the minimum $578 for a charter school (Wilson High School). It appears District schools spend an average of $643 per student, while Charter schools spend $617 per student and students from Charter schools, while less is spent per student outperform (using Overall Passing Rate) Districts by 36.83%. Again, further research could show where the outliers are and what are the other contributing factors to District schools underperforming compared to their Charter counterparts. In addition, a linear regression could be ran to determine the correlation/or no correlation between spending per student and overall passing rates. 
Large schools (2,000-5,000 students) underperform their small schools and medium school counterparts by 31.6%, 32.4% respectively. Through analyzing there are both character and district schools which fall into the large schools category. Medium schools had the highest overall passing grades, however, not far behind were small schools. Further data to analyze regarding why large schools fall behind other schools could be teacher to student ratio. Then compare to small and medium sized schools and run a linear regression on those schools.

In [1]:
import pandas as pd

school_data = "Resources/schools_complete.csv"

school_data_df = pd.read_csv(school_data)

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [2]:
import pandas as pd 

students_data = "Resources/students_complete.csv"

students_data_df = pd.read_csv(students_data)

students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
#Combine Data into a single dataset
school_data_complete_df = pd.merge(students_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
#check to see if there are any rows missing data
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
#total number of schools
nunique = school_data_complete_df["school_name"].nunique()
nunique

15

In [6]:
#total number of students
total_students = school_data_complete_df["size"].count()
total_students

39170

In [7]:
#total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [8]:
#average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
#average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
#students who passed with 70%
passing_math_score = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
passing_math_score = passing_math_score.count()["student_name"] / total_students
passing_math_score

0.749808526933878

In [11]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
passing_reading_score = passing_reading_score.count()["student_name"] / total_students
passing_reading_score

0.8580546336482001

In [12]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]
overall_passing = overall_passing.count()["student_name"] / total_students
overall_passing

0.6517232575950983

In [13]:
district_summary = pd.DataFrame({"Total Schools": nunique, 
                                 "Total Students": total_students, 
                                 "Total Budget": total_budget, 
                                 "Average Math Score": average_math_score, 
                                 "Average Reading Score": average_reading_score, 
                                 "% Passing Math": passing_math_score, 
                                 "% Passing Reading": passing_reading_score, 
                                 "% Overall Passing": overall_passing}, index = [0])
# district_summary = [["Total School", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Reading"]]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [14]:
school_group = school_data_complete_df.groupby(["school_name"])

total_students_school_group = school_group.count()["student_name"]
total_students_school_group

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [15]:
total_budget_school_group = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
total_budget_school_group

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [16]:
#budget per student
total_student_count = total_budget_school_group / total_students_school_group
total_student_count

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
avg_math_score = school_group.mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
avg_reading_score = school_group.mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
school_passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :]
school_passing_math_group = school_passing_math.groupby("school_name")
school_passing_math_count = school_passing_math_group["student_name"].count()

#school_passing_math_count = school_passing_math.groupby("school_name").count()["student_name"]
#school_pasing_math_count

school_passing_math_prc = school_passing_math_count / total_students_school_group
school_passing_math_prc

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: student_name, dtype: float64

In [20]:
school_passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :]
school_passing_reading_group = school_passing_reading.groupby("school_name")
school_passing_reading_count = school_passing_reading_group["student_name"].count()
#school_passing_reading_count = school_passing_reading.group("school_name").count()["student_name"]
#school_passing_reading_count

school_passing_reading_prc = school_passing_reading_count / total_students_school_group
school_passing_reading_prc

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: student_name, dtype: float64

In [21]:
school_type = school_data_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [22]:
overall_passing = school_passing_math_prc + school_passing_reading_prc / total_students_school_group
overall_passing

school_name
Bailey High School       0.666965
Cabrera High School      0.941857
Figueroa High School     0.660158
Ford High School         0.683386
Griffin High School      0.934585
Hernandez High School    0.667704
Holden High School       0.927313
Huang High School        0.657118
Johnson High School      0.660746
Pena High School         0.946943
Rodriguez High School    0.663867
Shelton High School      0.939216
Thomas High School       0.933317
Wilson High School       0.939100
Wright High School       0.933870
Name: student_name, dtype: float64

In [23]:
school_summary_df = pd.DataFrame({"School Type": school_type,
                              "Total Students": total_students_school_group,
                              "Total School Budget": total_budget_school_group,
                              "Per Student Budget": total_student_count,
                              "Average Math Score": avg_math_score,
                              "Average Reading Score": avg_reading_score,
                              "% Passing Math": school_passing_math_prc,
                              "% Passing Reading": school_passing_reading_prc,
                              "Overall Passing Rate": overall_passing})

# #school_summary_df = school_summary_df [["School Type", "Total Students", "Total School Budget", 
#                                  "Per Student Budget", "Average Math Score", "Average Reading Score", 
#                                  "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.666965
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.941857
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.660158
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.683386
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.934585
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.667704
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.927313
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.657118
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.660746
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.946943
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.663867
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.939216
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.933317
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.939100
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.933870

In [24]:
#top overall passing

top_overall_passing_df = school_summary_df.sort_values(["Overall Passing Rate"], ascending=False)
top_overall_passing_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.946943
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.941857
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.939216
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.939100
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.934585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.933870
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.933317
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.927313
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.683386
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.667704
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.666965
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.663867
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.660746
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.660158
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.657118

In [25]:
#bottom performing school

bottom_overall_passing_df = school_summary_df.sort_values(["Overall Passing Rate"], ascending = True)
bottom_overall_passing_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,0.656839,0.813164,0.657118
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,0.659885,0.807392,0.660158
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,0.660576,0.812224,0.660746
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,0.663666,0.802201,0.663867
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,0.666801,0.819333,0.666965
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,0.667530,0.808630,0.667704
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,0.683096,0.792990,0.683386
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,0.925059,0.962529,0.927313
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,0.932722,0.973089,0.933317
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,0.933333,0.966111,0.933870
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,0.933924,0.971390,0.934585
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,0.938677,0.965396,0.939100
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,0.938671,0.958546,0.939216
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,0.941335,0.970398,0.941857
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,0.945946,0.959459,0.946943

In [26]:
#math scores by grade
ninth = students_data_df.loc[students_data_df["grade"]=="9th"].groupby("school_name")
ninth_math = ninth["math_score"].mean()
tenth = students_data_df.loc[students_data_df["grade"]=="10th"].groupby("school_name")
tenth_math = tenth["math_score"].mean()
eleventh = students_data_df.loc[students_data_df["grade"]=="11th"].groupby("school_name")
eleventh_math = eleventh['math_score'].mean()
twelfth = students_data_df.loc[students_data_df["grade"]=="12th"].groupby("school_name")
twelfth_math = twelfth["math_score"].mean()

math_score_by_grade = pd.DataFrame({
                              "Ninth Grade Math": ninth_math,
                              "Tenth Grade Math": tenth_math,
                              "Eleventh Grade Math": eleventh_math,
                              "Twelfth Grade Math": twelfth_math,
                             })

math_score_by_grade

,Ninth Grade Math,Tenth Grade Math,Eleventh Grade Math,Twelfth Grade Math
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

In [27]:
students_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [28]:
#reading scores by grade
reading_ninth = students_data_df.loc[students_data_df["grade"]=="9th"].groupby("school_name")
reading_ninth_avg = ninth["reading_score"].mean()
reading_tenth = students_data_df.loc[students_data_df["grade"]=="10th"].groupby("school_name")
reading_tenth_avg = tenth["reading_score"].mean()
reading_eleventh = students_data_df.loc[students_data_df["grade"]=="11th"].groupby("school_name")
reading_eleventh_avg = eleventh["reading_score"].mean()
reading_twelfth = students_data_df.loc[students_data_df["grade"]=="12th"].groupby("school_name")
reading_twelfth_avg = twelfth["reading_score"].mean()


reading_score_by_grade = pd.DataFrame({
                              "Ninth Grade Reading": reading_ninth_avg,
                              "Tenth Grade Reading": reading_tenth_avg,
                              "Eleventh Grade Reading": reading_eleventh_avg,
                              "Twelfth Grade Reading": reading_twelfth_avg,
                             })

reading_score_by_grade

,Ninth Grade Reading,Tenth Grade Reading,Eleventh Grade Reading,Twelfth Grade Reading
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [29]:
#scores by school spending

#binning
#<$585, $585-630, $630-645, $645-680
bins = [0, 585, 630, 645, 680]



#create label
group_label = ["<$585", "$585-630", "$630-645", "$645-680"]

#school_spending_scores = school_summary_df

school_spending_scores = school_summary_df

school_spending_scores["Spending Per Student"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels = group_label)
school_spending_scores = school_summary_df.groupby(["Spending Per Student"])
school_spending_scores_df = school_spending_scores[['Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','Overall Passing Rate']].mean()

school_spending_scores_df.head()
# school_spending_score = school_spending_scores.groupby("Spending Per Student")



#slice data and put in bins
#pd.cut(school_data_complete_df["Per Student Budget"], bins, labels=group_labels).head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Spending Per Student,,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.935535
$585-630,81.899826,83.155286,0.871335,0.927182,0.871927
$630-645,78.518855,81.624473,0.734842,0.843918,0.735182
$645-680,76.997210,81.027843,0.661648,0.811340,0.661856

In [30]:
#scores by school size

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# school_summary_size = school_summary_df[["Average Math Score",
#                                     "Average Reading Score",
#                                     "% Passing Math",
#                                     "% Passing Reading",
#                                     "Overall Passing Rate"]]

#school_summary_size = school_summary_df
school_summary_size = school_summary_df                                          
                                            
school_summary_size ["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names)
school_summary_size = school_summary_size.groupby(["School Size"])
school_summary_size = school_summary_size[['Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','Overall Passing Rate']].mean()

school_summary_size

    
# school_summary_score = school_summary.groupby("School Size")
# school_summary_score = school_summary_score[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.937128
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.936569
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.699881

In [31]:
#scores by school type
# school_type = school_summary_df[["School Type", "Average Math Score", "Average Reading Score,"
#                                 "% Passing Math", "% Passing Reading", "% Overall Passing Rate",]]



scores_type = school_summary_df[["School Type",
                                    "Average Math Score",
                                    "Average Reading Score",
                                    "% Passing Math",
                                    "% Passing Reading",
                                    "Overall Passing Rate"]]
scores_type = scores_type.groupby("School Type")

scores_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.937025
District,76.956733,80.966636,0.665485,0.807991,0.665706