In [5]:
import pandas as pd

school_data = "Resources/schools_complete.csv"

school_data_df = pd.read_csv(school_data)

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
import pandas as pd 

students_data = "Resources/students_complete.csv"

students_data_df = pd.read_csv(students_data)

students_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#Combine Data into a single dataset
school_data_complete_df = pd.merge(students_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
#check to see if there are any rows missing data
school_data_complete_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:
#total number of schools
nunique = school_data_complete_df["school_name"].nunique()
nunique

15

In [10]:
#total number of students
total_students = school_data_complete_df["size"].count()
total_students

39170

In [11]:
#total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [12]:
#average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [13]:
#average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [1]:
#students who passed with 70%
passing_math_score = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
passing_math_score.count() / total_students

NameError: name 'school_data_complete_df' is not defined

In [16]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
passing_reading_score.count() / total_students

Student ID       0.858055
student_name     0.858055
gender           0.858055
grade            0.858055
school_name      0.858055
reading_score    0.858055
math_score       0.858055
School ID        0.858055
type             0.858055
size             0.858055
budget           0.858055
dtype: float64

In [17]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = school_data_complete_df.loc[(school_data_complete_df["math_score"]>=70) & (school_data_complete_df["reading_score"]>=70)]
overall_passing.count() / total_students

Student ID       0.651723
student_name     0.651723
gender           0.651723
grade            0.651723
school_name      0.651723
reading_score    0.651723
math_score       0.651723
School ID        0.651723
type             0.651723
size             0.651723
budget           0.651723
dtype: float64

In [4]:
district_summary = pd.DataFrame({"Total Schools": nunique, "Total Students": total_students, "Total Budget": total_budget, "Average Math Score": average_math_score, "Average Reading Score": average_reading_score, "% Passing Math": passing_math_score, "% Passing Reading": passing_reading_score, "% Overall Passing": overall_passing})
district_summary = [["Total School", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Reading"]]
distrcit_summary

NameError: name 'pd' is not defined

In [19]:
school_group = school_data_complete_df.groupby(["school_name"])

total_students_school_group = school_group.count()["student_name"]
total_students_school_group

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [20]:
total_budget_school_group = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
total_budget_school_group

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [21]:
#budget per student
total_student_count = total_budget_school_group / total_students_school_group
total_student_count

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [22]:
avg_math_score = school_group.mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
avg_reading_score = school_group.mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [25]:
school_passing_math = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70, :]
school_passing_math_group = school_passing_math.groupby("school_name")
school_passing_math_count = school_passing_math_group["student_name"].count()

#school_passing_math_count = school_passing_math.groupby("school_name").count()["student_name"]
#school_pasing_math_count

school_passing_math_prc = school_passing_math_count / total_students_school_group
school_passing_math_prc

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: student_name, dtype: float64

In [27]:
school_passing_reading = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70, :]
school_passing_reading_group = school_passing_reading.groupby("school_name")
school_passing_reading_count = school_passing_reading_group["student_name"].count()
#school_passing_reading_count = school_passing_reading.group("school_name").count()["student_name"]
#school_passing_reading_count

school_passing_reading_prc = school_passing_reading_count / total_students_school_group
school_passing_reading_prc

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: student_name, dtype: float64

In [28]:
overall_passing = school_passing_math_prc + school_passing_reading_prc / total_students_school_group
overall_passing

school_name
Bailey High School       0.666965
Cabrera High School      0.941857
Figueroa High School     0.660158
Ford High School         0.683386
Griffin High School      0.934585
Hernandez High School    0.667704
Holden High School       0.927313
Huang High School        0.657118
Johnson High School      0.660746
Pena High School         0.946943
Rodriguez High School    0.663867
Shelton High School      0.939216
Thomas High School       0.933317
Wilson High School       0.939100
Wright High School       0.933870
Name: student_name, dtype: float64

In [32]:
school_summary_df = pd.DataFrame({"School Type": school_group,
                              "Total Students": total_students_school_group,
                              "Total School Budget": total_budget_school_group,
                              "Per Student Budget": total_student_count,
                              "Average Math Score": avg_math_score,
                              "Average Reading Score": avg_reading_score,
                              "% Passing Math": school_passing_math_prc,
                              "% Passing Reading": school_passing_reading_prc,
                              "Overall Passing Rate": overall_passing})

school_summary_df = school_summary_df [["School Type", "Total Students", "Total School Budget", 
                                 "Per Student Budget", "Average Math Score", "Average Reading Score", 
                                 "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

school_summary_df.head()

/Users/laurahertzog/opt/anaconda3/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:1229: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  v = np.array(v, copy=False)
/Users/laurahertzog/opt/anaconda3/lib/python3.8/site-packages/pandas/core/dtypes/cast.py:1623: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  subarr = np.array(values, dtype=dtype, copy=copy)
/Users/laurahertzog/opt/anaconda3/lib/python3.8/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

StopIteration:

StopIteration:

In [29]:
#top overall passing

top_overall_passing_df = school_summary_df.sort_values("school_passing_math_prc", ascending=False)
top_overall_passing_df.head()

NameError: name 'school_summary_df' is not defined

In [5]:
#bottom performing school

bottom_overall_passing_df = school_summary_df.sort_values(["school_passing_math_prc"], ascending = True)
bottom_overall_passing_df.head()

SyntaxError: invalid syntax (<ipython-input-5-5e5c3afd3bc0>, line 3)

In [243]:
#math scores by grade
ninth = students_data_df.loc[students_data_df["grade"]=="9th"].groupby("school")
ninth_math = ninth["math_score"].mean()
tenth = students_data_df.loc[students_data_df["grade"]=="10th"].groupby("school")
tenth_math = tenth["math_score"].mean()
eleventh = students_data_df.loc[tudents_data_df["grade"]=="11th"].groupby("school")
eleventh_math = eleventh['math_score'].mean()
twelfth = students_data_df.loc[students_data_df["grade"]=="12th"].groupby("school")
twelfth_math = twelfth["math_score"].mean()

NameError: name 'students' is not defined

In [ ]:
#reading scores by grade
reading_ninth = students_data_df.loc[students_data_df["grade"]=="9th"].groupby("school")
reading_ninth_avg = ninth["reading_score"].mean()
reading_tenth = students_data_df.loc[students_data_df["grade"]=="10th"].groupby("school")
reading_tenth_avg = tenth["reading_score"].mean()
reading_eleventh = students_data_df.loc[tudents_data_df["grade"]=="11th"].groupby("school")
reading_eleventh_avg = eleventh["reading_score"].mean()
reading_twelfth = students_data_df.loc[students_data_df["grade"]=="12th"].groupby("school")
reading_twelfth_avg = twelfth["reading_score"].mean()

In [ ]:
#binning
#<$585, $585-630, $630-645, $645-680
bins = [0, 585, 630, 645, 680]

#create label
group_label = ["<$585", "$585-630", "$630-645", "$645-680"]

#slice data and put in bins
pd.cut(school_data_complete_df["spending_ranges"], bins, labels=group_labels).head()

In [ ]:
#scores by school size

size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_score ["School Size"] = pd.cut(school_summary_score["Total Student"], bins2, labels=size_range)

school_summary_score = school_summary.groupby("School Size")
school_summary_score = school_summary_score[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]

In [ ]:
#scores by school type
school_type = school_summary.group("School Type")

school_type = type_summary [["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "Overall Passing Rate"]]